.table-bordered {
    margin-top: 20px;
    width: 100%;
}

.table-bordered tr:first-child td {
    font-weight: 600;
    border-bottom-width: 2px;
}

.table-bordered td {
    padding: 7px;
}

button.residents {
    border: 1px solid #ddd;
}

.login {
    margin-top: 10px;
}

form, .alert {
    max-width: 450px;
}
