{% extends "layout.html" %}

{% block content %}

    {% if logged_in %}
    <span class="login pull-right"><b>{{ username }}</b> | <a href="/logout">Log out</a></span>
    {% else %}
    <span class="login pull-right"><a href="/login">Log in</a> | <a href="/registration">Registration</a></span>
    {% endif %}
    

    {% if prev_page_id == None %}
    <a class="btn btn-primary" href="?page={{ next_page_id }}">Next</a>
    {% elif next_page_id == None %}
    <a class="btn btn-primary" href="?page={{ prev_page_id }}">Previous</a>
    {% else %}
    <a class="btn btn-primary" href="?page={{ prev_page_id }}">Previous</a>
    <a class="btn btn-primary" href="?page={{ next_page_id }}">Next</a>
    {% endif %}

    <div class="table-responsive">
        <table class="table-bordered table-hover">
        {% for result in result_list %}
            <tr>
                {% for stuff in result %}
                <td>{{ stuff }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}

{% block footer %}
    {% include 'modal.html' %}
{% endblock %}