<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <title>HomePage</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Star Wars universe planets</h1>

                <a class="btn btn-primary" href="?page={{ prev_page_id }}">Previous</a>
                <a class="btn btn-primary" href="?page={{ next_page_id }}">Next</a>
                
                <div class="table-responsive">
                    <table class="planets table-bordered table-hover">
                    {% for result in result_list %}
                        <tr>
                            {% for stuff in result %}
                            <td>{{ stuff }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                
                <h1>result</h1>
                {{ result_list }}
            </div>
        </div>
    </div>

<!--modal start-->

<div class="modal fade" id="residents" tabindex="-1" role="dialog" aria-labelledby="residents">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalLabel"></h4>
            </div>
            <div class="modal-body">
                <h1>content gyün ide</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal end -->

</body>
</html>